/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#container{
  width: 70%;
  margin: auto;
  padding: 20px 0 20px;
  /* debug */
  /* height: 100vh; */
  /* border: 2px solid black; */
}

#container > *{
  width:100%;
}

header, main > *{
  margin-bottom: 20px;
}

li a, .float span{
  color: #AEAEAE;
}

.jumbotron:before, .pic:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: #00000050;
  border-radius: 5px;
}

/* regole header */
header{
  /* debug */
  /* height: 15vh; */
  /* background-color: #E579E6; */
}

header img{
  width: 15%;
  background-color: white;
  padding-right: 10px;
  border-right: 1px solid black;
}

.nav{
  margin-top: 25px;
}

.nav li{
  display: inline-block;
}

li a{
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  font-size: 1vw;
}

/* regole sezione jumbotron */
section.jumbotron{
  position:relative;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  min-height: 60vh;

  /* debug */
  /* background-color: #E1D67A; */
}

section.jumbotron{
  border-radius: 5px;
}

.jumbotron-text{
  width: 50%;
  position:absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 5% 5%;
  color:white;
  font-size: 1vw;
}


/* regole seconda sezione */
.row-header{
  /* debug */
  /* height: 10vh; */
  /* background-color: #ABCFE7; */
}

.row-header h1{
  font-size: 3vw;
}

/* regole terza sezione:float */
.row{
  /* debug */
  /* background-color: #0086FF; */
}

.row:after{
  content:'';
  display: table;
  clear: both;
}

.float{
  float: left;
  /* debug */
  /* height: 50vh; */
  /* background-color: #ABCFE7; */
  /* debug */
  /* border: 5px solid black; */
}

.pic{
  position: relative;
}

.float img{
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.float h3{
  margin: 5px 0 5px;
}

.aside{
  width: 20%;
}

.central{
  width: calc( 60% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

/* regole footer */
footer{
  text-align: center;
  padding: 20px 0 10px;
  /* debug */
  /* height: 5vh;
  background-color: #8801FE; */
}

.red-text{
  color:red;
}
