*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* regole generali */
#container{
  width: 70%;
  margin: auto;
  padding: 20px 0 20px;
  /* debug */
  /* height: 100vh; */
  /* border: 2px solid black; */
}

#container > *{
  width:100%;
}

header, section.banner{
  margin-bottom: 20px;
}

/* regole header */
header{
  /* debug */
  /* height: 15vh; */
  /* background-color: #E579E6; */
}

header img{
  width: 15%;
  background-color: white;
  padding-right: 10px;
  border-right: 1px solid black;
}

.nav{
  margin-top: 25px;
}

.nav li{
  display: inline-block;
}

li a{
  color: #C7C7C7;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  font-size: 1vw;
}

/* regole sezione banner */
section.banner{
  position:relative;
  background-image: url('../img/banner.jpg');
  background-size: 100% 100%;

  /* debug */
  min-height: 50vh;
  /* background-color: #E1D67A; */
}

.layover, section.banner{
  border-radius: 5px;
}

.layover{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: #00000050;
}

.banner-text{
  width: 50%;
  color: red;
  position:absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 5% 5%;
  color:white;
  font-size: 1vw;
}



/* regole seconda sezione */
.row{
  background-color: #0086FF;
}

.row:after{
  content:'';
  display: table;
  clear: both;
}

.row-head{
  height: 10vh;
  background-color: #ABCFE7;
}

.float{
  float: left;
  height: 50vh;
  margin: 20px 0;
  background-color: #ABCFE7;
  /* debug */
  /* border: 5px solid black; */
}

.aside{
  width: 20%;
}

.central{
  width: calc( 60% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

/* regole footer */
footer{
  margin-top: 10px;
  height: 5vh;
  background-color: #8801FE;
}
